client/node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local

__pycache__/
*.pyc
*.pyo
.env
.venv/

ml/theological_bert/
ml/bible_verse_embeddings.npy
ml/analysis.txt
ml/NASB_fixed.csv
ml/NASB.json
ml/theological_data.json

.idea
.vscode
.DS_Store
Thumbs.db
